// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.main-page {
    margin-bottom: 30px;
}
.search-form {
    float: left;
    width: 76%;
    margin-left: 70px;
}
#album_name {
    height: 33px;
}